.about {
  height: 90vh;
  width: 100vw;
}
.about img {
  width: 30vw;
  border-radius: 8%;
  box-shadow: 0px 3px 34px -6px rgba(0, 0, 0, 0.75);
}

.about-left {
  width: 85%;
  height: 100%;
  padding: 5%;
}
.about-left h1 {
  font-size: 4vw;
}

.about-left p {
  text-indent: 30px;
  font-size: 1.2vw;
  line-height: normal;
  margin: 10px;
}

.about-right {
  height: 100%;
  padding-right: 20px;
}

@media only screen and (max-width: 900px) {
  .about-right {
    display: none;
  }
  .about-left p {
    font-size: 2vw;
  }
}
