.work {
  height: 90vh;
  width: 100%;
}
.work-card {
  height: 60%;
  width: 30%;
  margin: 4px;
}
.work-list {
  height: 70%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smaller {
  flex-wrap: wrap;
  /* height: 90vh; */
  justify-content: flex-start;
  margin-top: 20px;
}
.small-work {
  width: 100%;
  text-align: center;
}
.small-work a {
  margin: 7px;
  text-decoration: none;
  color: inherit;
  font-size: 3.5vw;
  border-bottom: 1px solid black;
}

.small-work a:hover {
  color: lightskyblue;
  border-bottom: 1px solid lightskyblue;
}
.small-work-name {
  font-size: 5vw !important;
  border: none !important;
}
.small-work-name:hover {
  color: initial !important;
  border: none !important;
}
.line {
  font-size: 4vw;
}

@media only screen and (max-width: 500px) {
  .small-work a {
    font-size: 4.5vw;
  }
  .small-work-name {
    font-size: 27px !important;
  }
}

@media only screen and (max-width: 750px) {
  .work {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .work-list {
    height: initial;
  }
}
